:root{
    --color1: rgb(214, 28, 28);
    --color2: rgba(0,0,0,0.9);
    --color3: white;
    --color4: black;
    --color5: rgba(0,0,0,0.8);
    --color6: rgb(31, 29, 29);
}

*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

header{
    height: 10vh;
    width: 100%;
    background-color: var(--color4);
    opacity: 0.8;
    position: fixed;
    z-index: 1;
    top: 0;
}

.icon{
    display: none;
}

.header_pack{
    width: 100%;
    height: 100%;
    position: relative;
}

.logo_pack{
    width: 150px;
    height: 90%;
    position: absolute;
    left: 1%;
    bottom: 5%;
}

.logo_img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.sign_pack{
    position: absolute;
    bottom: 20%;
    right: 1%;
    background-color: var(--color1);
    padding: 10px;
    font-size: 1rem;
    font-weight: bold;
    color: var(--color3);
}

.sign_pack:active{
    padding: 12px;
    font-size: 1.25rem;
}

.main_background{
    background-image: url('img/background.jpg');
    height: 100vh;
    width: 100%;
}

.main_opacity{
    background: linear-gradient(to top, var(--color4),  var(--color2), var(--color5));
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_flex_pack{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.main_first_text{
    color: var(--color3);
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 2vh;
}

.main_second_text{
    color: var(--color3);
    opacity: 0.9;
    font-size: 28px;
    margin-bottom: 2vh;
}

.main_third_text{
    color: var(--color3);
    opacity: 0.8;
    font-size: 18px;
    margin-bottom: 1vh;
}

.main_input_flex{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.input_form{
    width: 85%;
    height: 5vh;
}

.input_movie{
    background-color: var(--color4);
    color: var(--color3);
    width: 100%;
    height: 100%;
    border: 1px solid var(--color3);
}

.button_input_movie{
    background-color: var(--color1);
    color: var(--color3);
    font-size: 1rem;
    font-weight: bold;
    height: 5vh;
    width: 13%;
}

.button_input_movie:active{
    padding: 12px;
    font-size: 1.25rem;
}

.best_film_pack{
    background-color: var(--color4);
    height: 85vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.film_pack{
    display: flex;
    width: 60%;
    height: 80%;
    gap: 1%;
}

.film_img_pack{
    height: 80%;
    width: 30%;
}

.film_img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.film_img_pack:hover{
    width: 35%;
    transition: all 0.3s linear;
}

.find_next_movie_flex{
    display: flex;
    justify-content: center;
    background-color: var(--color4);
    height: 15vh;
}
.find_next_movie{
    background-color: var(--color1);
    padding: 10px;
    font-size: 1rem;
    font-weight: bold;
    color: var(--color3);
}

.find_next_movie:active{
    padding: 12px;
    font-size: 1.25rem;
}

footer{
    height: 40vh;
    width: 100%;
    background-color: var(--color4);
    display: flex;
    align-items: center;
    justify-content: center
}

.footer_flex_pack{
    width: 60%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer_flex_intem{
    display: flex;
    width: 25%;
    height: 60%;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
}

.footer_flex_text{
    color: var(--color3);
    font-size: 1rem;
    text-decoration: underline;
}

.footer_flex_text:hover{
    font-size: 1.1rem;
}

@media (max-width: 768px) {
    .best_film_pack{
        height: 190vh;
    }
    
    .film_pack{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 182vh;
        width: 100%;
        gap: 1vh;
    }

    .film_img_pack{
        height: 60vh;
        width: 50%;
    }

    .film_img_pack:hover{
        width: 50%;
        border: none;
        transition: none;
    }

    .footer_flex_pack{
        width: 95%;
    }

    .main_first_text{
        font-size: 36px;
    }

    .main_second_text{
        font-size: 24px;
    }
    
    .main_third_text{
        font-size: 16px;
    }

    .main_input_flex{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2vh;
    }

    .input_form{
        width: 100%;
    }

    .button_input_movie{
        width: 30%;
    }

}
