
.registration_background{
    background-image: url('img/movies-bg.jpeg');
    height: 100vh;
    width: 100%;
}

.main_registration_flex_pack{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1vh;
    width: 30%;
}

.input_registration{
    width: 100%;
    height: 5vh;
    color: var(--color3);
    background-color: var(--color4);
    border: 1px solid var(--color3)
}

.input_registration1{
    width: 100%;
    height: 5vh;
    color: var(--color3);
    background-color: var(--color4);
    border: 1px solid var(--color3);
}

.input_registration2{
    width: 100%;
    height: 5vh;
    color: var(--color3);
    background-color: var(--color4);
    border: 1px solid var(--color3);
}

.input_submit{
    width: 100%;
    height: 5vh;
    color: var(--color3);
    background-color: var(--color1);
    font-size: 1rem;
    font-weight: bold;
}

@media (max-width: 768px) {
    .main_registration_flex_pack{
        width: 80%;
    }
}

.no_change{
    width: 100%;
    height: 5vh;
    color: var(--color3);
    background-color: var(--color4);
    border: 1px solid var(--color3)
}

.change_error{
    width: 100%;
    height: 5vh;
    color: var(--color1);
    background-color: var(--color4);
    border: 1px solid var(--color1)
}

.change_true{
    width: 100%;
    height: 5vh;
    color: var(--color7);
    background-color: var(--color4);
    border: 1px solid var(--color7)
}